/* Add a class to hide the button initially */


/* Style the product card container */
.product-card-container {
  
  position: relative;
}

.product-card-container button {
   width: 60%;
   opacity: 0.5;
   position: absolute;
   top: 255px;
   display: none;
 }

/* Style the product card image */


/* Show the button when hovering over the product card image */
.product-card-container:hover img {
  opacity: 0.8;
}

/* Show the button when hovering over the product card image */
.product-card-container:hover button {
  display: flex;
  opacity: 0.85;
  
}