.checkout-item-container {
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
}
   .checkout-item-container .image-container {
        width: 23%;
        padding-right: 15px;
   }

    .checkout-item-container .image-container    img {
            width: 100%;
            height: 100%;
        }
    

  .checkout-item-container  .name,
    .quantity,
    .price {
        width: 23%;
    }

   .checkout-item-container .quantity {
        display: flex;
   }
      .checkout-item-container .quantity  .arrow {
            cursor: pointer;
        }
                .arrow {
                    border: solid black;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                }
        
                .right {
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
        
                .left {
                    -webkit-transform: rotate(135deg);
                    transform: rotate(135deg);
                }

          .checkout-item-container .quantity   .value {
            margin: 0 10px;
        }
    

   .checkout-item-container .remove-button {
        padding-left: 12px;
        cursor: pointer;
    }
